## Imports

In [1]:
import pandas as pd
import sys
from prettytable import PrettyTable

## Inspect non-iso graphs

In [2]:
num_vertices = 8

In [3]:
non_iso_graphs = pd.read_csv(f"../non_iso_bipartite_graphs/non_isomorphic_bipartite_connected_vertices_{num_vertices}.gz", compression='gzip')

In [4]:
non_iso_graphs

,len_big_partition,len_small_partition,big_partition,small_partition,edges
0,7,1,"{1, 2, 3, 4, 5, 6, 7}",{0},"((0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6..."
1,6,2,"{1, 2, 4, 5, 6, 7}","{0, 3}","((0, 1), (0, 2), (1, 3), (0, 4), (0, 5), (0, 6..."
2,5,3,"{1, 2, 4, 5, 6}","{0, 3, 7}","((0, 1), (0, 2), (1, 3), (0, 4), (0, 5), (0, 6..."
3,4,4,"{0, 3, 6, 7}","{1, 2, 4, 5}","((0, 1), (0, 2), (1, 3), (0, 4), (0, 5), (2, 6..."
4,4,4,"{0, 3, 6, 7}","{1, 2, 4, 5}","((0, 1), (0, 2), (1, 3), (0, 4), (0, 5), (2, 6..."
...,...,...,...,...,...
177,5,3,"{1, 2, 4, 5, 7}","{0, 3, 6}","((0, 1), (0, 2), (1, 3), (0, 4), (0, 5), (6, 7..."
178,4,4,"{0, 3, 6, 7}","{1, 2, 4, 5}","((0, 1), (0, 2), (1, 3), (0, 4), (3, 5), (1, 6..."
179,5,3,"{1, 2, 4, 5, 7}","{0, 3, 6}","((0, 1), (0, 2), (1, 3), (0, 4), (0, 5), (6, 7..."
180,4,4,"{0, 3, 6, 7}","{1, 2, 4, 5}","((0, 1), (0, 2), (1, 3), (0, 4), (3, 5), (1, 6..."
181,4,4,"{0, 3, 5, 6}","{1, 2, 4, 7}","((0, 1), (2, 3), (4, 5), (6, 7), (0, 2), (4, 6..."

In [5]:
non_iso_graphs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   len_big_partition    182 non-null    int64
 1   len_small_partition  182 non-null    int64
 2   big_partition        182 non-null    object
 3   small_partition      182 non-null    object
 4   edges                182 non-null    object
dtypes: int64(2), object(3)
memory usage: 7.2+ KB

## Inspect non-iso markets

In [6]:
non_iso_markets = pd.read_parquet(f"/Users/enriqueareyan/Documents/workspace/competitive_equilibria/non_iso_markets/non_iso_markets_vertices_{num_vertices}.parquet")

In [7]:
non_iso_markets

,num_bidders,num_goods,bidder_0,bidder_1,bidder_2,bidder_3,bidder_4,bidder_5,bidder_6
0,1,7,"[1, 1, 1, 1, 1, 1, 1]",,,,,,
1,7,1,[1],[1],[1],[1],[1],[1],[1]
2,2,6,"[1, 1, 1, 1, 1, 1]","[1, 0, 0, 0, 0, 0]",,,,,
3,6,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]","[1, 0]","[1, 0]",
4,3,5,"[1, 1, 1, 1, 1]","[1, 0, 0, 0, 0]","[0, 1, 0, 0, 0]",,,,
...,...,...,...,...,...,...,...,...,...
318,4,4,"[1, 1, 1, 1]","[1, 1, 0, 1]","[1, 0, 1, 1]","[1, 1, 1, 1]",,,
319,3,5,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]",,,,
320,5,3,"[1, 1, 1]","[1, 1, 1]","[1, 1, 1]","[1, 1, 1]","[1, 1, 1]",,
321,4,4,"[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 0, 1]","[1, 1, 1, 1]",,,
322,4,4,"[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]",,,

In [8]:
non_iso_markets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   num_bidders  323 non-null    int32
 1   num_goods    323 non-null    int32
 2   bidder_0     323 non-null    object
 3   bidder_1     323 non-null    object
 4   bidder_2     323 non-null    object
 5   bidder_3     323 non-null    object
 6   bidder_4     323 non-null    object
 7   bidder_5     323 non-null    object
 8   bidder_6     323 non-null    object
dtypes: int32(2), object(7)
memory usage: 20.3+ KB

In [9]:
len(non_iso_graphs), len(non_iso_graphs) * 2, len(non_iso_markets)

(182, 364, 323)

## Inspect single-minded markets

In [10]:
up_to_value = 10
max_num_rows = sys.maxsize
location = f"/Users/enriqueareyan/Documents/workspace/competitive_equilibria/all_sm_markets/values_1_to_{up_to_value}/sm_market_{num_vertices}.parquet"
location

'/Users/enriqueareyan/Documents/workspace/competitive_equilibria/all_sm_markets/values_1_to_10/sm_market_8.parquet'

In [11]:
sm_market = pd.read_parquet(location)

In [12]:
sm_market

,num_bidders,num_goods,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13
0,1,7,"[1, 1, 1, 1, 1, 1, 1]",1,,,,,,,,,,,,
1,1,7,"[1, 1, 1, 1, 1, 1, 1]",2,,,,,,,,,,,,
2,1,7,"[1, 1, 1, 1, 1, 1, 1]",3,,,,,,,,,,,,
3,1,7,"[1, 1, 1, 1, 1, 1, 1]",4,,,,,,,,,,,,
4,1,7,"[1, 1, 1, 1, 1, 1, 1]",5,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5028882,4,4,"[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]",9,9,9,9,,,,,,
5028883,4,4,"[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]",9,9,9,10,,,,,,
5028884,4,4,"[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]",9,9,10,10,,,,,,
5028885,4,4,"[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]",9,10,10,10,,,,,,
5028886,4,4,"[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]",10,10,10,10,,,,,,

In [13]:
sm_market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5028887 entries, 0 to 5028886
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   num_bidders  int32
 1   num_goods    int32
 2   col_0        object
 3   col_1        object
 4   col_2        object
 5   col_3        object
 6   col_4        object
 7   col_5        object
 8   col_6        object
 9   col_7        object
 10  col_8        object
 11  col_9        object
 12  col_10       object
 13  col_11       object
 14  col_12       object
 15  col_13       object
dtypes: int32(2), object(14)
memory usage: 575.5+ MB

In [14]:
for i in range(1, num_vertices):
    print(i, num_vertices - i, len(sm_market[(sm_market['num_bidders'] == i) & (sm_market['num_goods'] == num_vertices - i)]))

1 7 10
2 6 1155
3 5 68920
4 4 1083640
5 3 3019252
6 2 844470
7 1 11440

In [15]:
def simple_stats(total, ptable):
    results = pd.read_parquet(f"/Users/enriqueareyan/Documents/workspace/competitive_equilibria/experiments_results/markets_{total}.parquet")
    assert len(results) == results.index.nunique()
    how_many = 0
    # print(total)
    for i in [1, 0]:
        for j in [1, 0]:
            if total == 2:
                data = results[(results['linear_clears'] == i) & (results['quadratic_clears'] == j)]
            else:
                data = results[(results['linear_clears'] == i) & (results['quadratic_clears'] == j)]
            #print(f"{'yes' if i == 1 else 'no'}\t {'yes' if j == 1 else 'no'} \t\t {len(data):,}")
            if i == j == 1:
                total_yes = len(data)
            if i == j == 0:
                total_no = len(data)
            ptable.add_row([total, f"{len(results) : ,}", f"{'yes' if i == 1 else 'no'}", f"{'yes' if j == 1 else 'no'}", f"{len(data) : ,}"])
            how_many += len(data)
    #print(f"total_yes = {total_yes}, total_no = {total_no}")
    if total_no > 0:
        ptable.add_row(['', '', '', 'fraction no', f"{(total_no / len(results)) * 100.0 : .2f}"])
    #ptable.add_row(['----', '----', '----', 'total_total', f"{total : ,}"])
    ptable.add_row(['----', '----', '----', '----', '----'])

In [16]:
ptable_stats = PrettyTable()
ptable_stats.field_names = ['size', 'how many', 'linear', 'quadratic', 'clear']
ptable_stats.align['clear'] = 'r'
total_total = 0
for i in range(2, 9):
    simple_stats(i, ptable_stats)
print(ptable_stats)

+------+------------+--------+-------------+------------+
| size |  how many  | linear |  quadratic  |      clear |
+------+------------+--------+-------------+------------+
|  2   |     10     |  yes   |     yes     |         10 |
|  2   |     10     |  yes   |      no     |          0 |
|  2   |     10     |   no   |     yes     |          0 |
|  2   |     10     |   no   |      no     |          0 |
| ---- |    ----    |  ----  |     ----    |       ---- |
|  3   |     65     |  yes   |     yes     |         65 |
|  3   |     65     |  yes   |      no     |          0 |
|  3   |     65     |   no   |     yes     |          0 |
|  3   |     65     |   no   |      no     |          0 |
| ---- |    ----    |  ----  |     ----    |       ---- |
|  4   |     385    |  yes   |     yes     |        385 |
|  4   |     385    |  yes   |      no     |          0 |
|  4   |     385    |   no   |     yes     |          0 |
|  4   |     385    |   no   |      no     |          0 |
| ---- |    ----    |  ----  |     ----    |       ---- |
|  5   |    3,400   |  yes   |     yes     |      3,400 |
|  5   |    3,400   |  yes   |      no     |          0 |
|  5   |    3,400   |   no   |     yes     |          0 |
|  5   |    3,400   |   no   |      no     |          0 |
| ---- |    ----    |  ----  |     ----    |       ---- |
|  6   |   31,677   |  yes   |     yes     |     31,172 |
|  6   |   31,677   |  yes   |      no     |          0 |
|  6   |   31,677   |   no   |     yes     |          0 |
|  6   |   31,677   |   no   |      no     |        505 |
|      |            |        | fraction no |       1.59 |
| ---- |    ----    |  ----  |     ----    |       ---- |
|  7   |   378,832  |  yes   |     yes     |    369,172 |
|  7   |   378,832  |  yes   |      no     |          0 |
|  7   |   378,832  |   no   |     yes     |          0 |
|  7   |   378,832  |   no   |      no     |      9,660 |
|      |            |        | fraction no |       2.55 |
| ---- |    ----    |  ----  |     ----    |       ---- |
|  8   |  5,028,887 |  yes   |     yes     |  4,848,308 |
|  8   |  5,028,887 |  yes   |      no     |          0 |
|  8   |  5,028,887 |   no   |     yes     |          0 |
|  8   |  5,028,887 |   no   |      no     |    180,579 |
|      |            |        | fraction no |       3.59 |
| ---- |    ----    |  ----  |     ----    |       ---- |
+------+------------+--------+-------------+------------+