In [1]:
import pandas as pd

In [2]:
num_goods = 3
num_bidders = 3
values = 10

In [3]:
data = pd.read_csv(f"../markets_df/single_minded__num_goods_{num_goods}__num_bidders__{num_bidders}__values_{values}.gzip", compression='gzip')

In [4]:
data

,market,bidder_0,value_0,bidder_1,value_1,bidder_2,value_2,linear_prices,quadratic_prices
0,0,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",1,1,1
1,1,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",2,1,1
2,2,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",3,1,1
3,3,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",4,1,1
4,4,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",5,1,1
5,5,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",6,1,1
6,6,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",7,1,1
7,7,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",8,1,1
8,8,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",9,1,1
9,9,"[1, 0, 0]",1,"[1, 0, 0]",1,"[1, 0, 0]",10,1,1
10,10,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",1,1,1
11,11,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",2,1,1
12,12,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",3,1,1
13,13,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",4,1,1
14,14,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",5,1,1
15,15,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",6,1,1
16,16,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",7,1,1
17,17,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",8,1,1
18,18,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",9,1,1
19,19,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 1, 0]",10,1,1
20,20,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",1,1,1
21,21,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",2,1,1
22,22,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",3,1,1
23,23,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",4,1,1
24,24,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",5,1,1
25,25,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",6,1,1
26,26,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",7,1,1
27,27,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",8,1,1
28,28,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",9,1,1
29,29,"[1, 0, 0]",1,"[1, 0, 0]",1,"[0, 0, 1]",10,1,1
...,...,...,...,...,...,...,...,...,...
342970,342970,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",1,1,1
342971,342971,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",2,1,1
342972,342972,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",3,1,1
342973,342973,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",4,1,1
342974,342974,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",5,1,1
342975,342975,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",6,1,1
342976,342976,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",7,1,1
342977,342977,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",8,1,1
342978,342978,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",9,1,1
342979,342979,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 0, 1]",10,1,1
342980,342980,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",1,1,1
342981,342981,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",2,1,1
342982,342982,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",3,1,1
342983,342983,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",4,1,1
342984,342984,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",5,1,1
342985,342985,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",6,1,1
342986,342986,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",7,1,1
342987,342987,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",8,1,1
342988,342988,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",9,1,1
342989,342989,"[1, 1, 1]",10,"[1, 1, 1]",10,"[0, 1, 1]",10,1,1
342990,342990,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",1,1,1
342991,342991,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",2,1,1
342992,342992,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",3,1,1
342993,342993,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",4,1,1
342994,342994,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",5,1,1
342995,342995,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",6,1,1
342996,342996,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",7,1,1
342997,342997,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",8,1,1
342998,342998,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",9,1,1
342999,342999,"[1, 1, 1]",10,"[1, 1, 1]",10,"[1, 1, 1]",10,1,1

In [5]:
market_clears = data[(data['linear_prices'] == 1) & (data['quadratic_prices'] == 1)]

In [6]:
market_not_clears = data[(data['linear_prices'] == 0) & (data['quadratic_prices'] == 0)]

In [7]:
len(market_clears), len(market_not_clears), len(market_clears) + len(market_not_clears), len(data)

(339970, 3030, 343000, 343000)

## Inspect non-iso graphs

In [8]:
non_iso_graphs = pd.read_csv(f"../non_iso_bipartite_graphs/non_isomorphic_bipartite_connected_vertices_5.gzip", compression='gzip')

In [9]:
non_iso_graphs

,len_big_partition,len_small_partition,big_partition,small_partition,edges
0,4,1,"{1, 2, 3, 4}",{0},"((0, 1), (0, 2), (0, 3), (0, 4))"
1,3,2,"{1, 2, 3}","{0, 4}","((0, 1), (0, 2), (0, 3), (1, 4))"
2,3,2,"{0, 3, 4}","{1, 2}","((0, 1), (0, 2), (1, 3), (2, 4))"
3,3,2,"{1, 2, 4}","{0, 3}","((0, 1), (0, 2), (1, 3), (2, 3), (0, 4))"

In [10]:
non_iso_graphs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
len_big_partition      4 non-null int64
len_small_partition    4 non-null int64
big_partition          4 non-null object
small_partition        4 non-null object
edges                  4 non-null object
dtypes: int64(2), object(3)
memory usage: 240.0+ bytes