## Imports

In [1]:
import pandas as pd

## Inspect non-iso graphs

In [2]:
num_vertices = 6

In [3]:
non_iso_graphs = pd.read_csv(f"../non_iso_bipartite_graphs/non_isomorphic_bipartite_connected_vertices_{num_vertices}.gzip", compression='gzip')

In [4]:
non_iso_graphs

,len_big_partition,len_small_partition,big_partition,small_partition,edges
0,5,1,"{1, 2, 3, 4, 5}",{0},"((0, 1), (0, 2), (0, 3), (0, 4), (0, 5))"
1,4,2,"{1, 2, 3, 4}","{0, 5}","((0, 1), (0, 2), (0, 3), (0, 4), (1, 5))"
2,3,3,"{0, 3, 5}","{1, 2, 4}","((0, 1), (0, 2), (1, 3), (0, 4), (1, 5))"
3,3,3,"{0, 3, 5}","{1, 2, 4}","((0, 1), (0, 2), (1, 3), (0, 4), (2, 5))"
4,4,2,"{0, 3, 4, 5}","{1, 2}","((0, 1), (0, 2), (1, 3), (2, 4), (1, 5))"
5,3,3,"{0, 3, 4}","{1, 2, 5}","((0, 1), (0, 2), (1, 3), (2, 4), (3, 5))"
6,4,2,"{1, 2, 4, 5}","{0, 3}","((0, 1), (0, 2), (1, 3), (0, 4), (2, 3), (3, 5))"
7,3,3,"{0, 3, 5}","{1, 2, 4}","((0, 1), (0, 2), (1, 3), (0, 4), (2, 3), (4, 5))"
8,4,2,"{1, 2, 4, 5}","{0, 3}","((0, 1), (0, 2), (1, 3), (0, 4), (0, 5), (2, 3))"
9,3,3,"{0, 4, 5}","{1, 2, 3}","((0, 1), (0, 2), (3, 4), (3, 5), (0, 3), (1, 4))"
10,3,3,"{0, 4, 5}","{1, 2, 3}","((0, 1), (0, 2), (3, 4), (3, 5), (1, 4), (2, 5))"

In [5]:
non_iso_graphs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
len_big_partition      11 non-null int64
len_small_partition    11 non-null int64
big_partition          11 non-null object
small_partition        11 non-null object
edges                  11 non-null object
dtypes: int64(2), object(3)
memory usage: 520.0+ bytes

## Inspect non-iso markets

In [6]:
non_iso_markets = pd.read_csv(f"../non_iso_markets/non_iso_markets_vertices_{num_vertices}.gzip", compression='gzip')

In [7]:
non_iso_markets

,num_bidders,num_goods,bidder_0,bidder_1,bidder_2,bidder_3,bidder_4
0,1,5,"[1, 1, 1, 1, 1]",NaN,NaN,NaN,NaN
1,5,1,[1],[1],[1],[1],[1]
2,2,4,"[1, 1, 1, 1]","[1, 0, 0, 0]",NaN,NaN,NaN
3,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",NaN
4,3,3,"[1, 1, 1]","[1, 0, 0]","[1, 0, 0]",NaN,NaN
5,3,3,"[1, 1, 0]","[1, 0, 1]","[1, 0, 0]",NaN,NaN
6,3,3,"[1, 1, 1]","[1, 0, 0]","[0, 1, 0]",NaN,NaN
7,2,4,"[1, 1, 0, 1]","[1, 0, 1, 0]",NaN,NaN,NaN
8,4,2,"[1, 1]","[1, 0]","[0, 1]","[1, 0]",NaN
9,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 0]",NaN,NaN
10,2,4,"[1, 1, 1, 0]","[1, 1, 0, 1]",NaN,NaN,NaN
11,4,2,"[1, 1]","[1, 1]","[1, 0]","[0, 1]",NaN
12,3,3,"[1, 1, 0]","[1, 1, 0]","[1, 0, 1]",NaN,NaN
13,3,3,"[1, 1, 1]","[1, 1, 0]","[0, 0, 1]",NaN,NaN
14,2,4,"[1, 1, 1, 1]","[1, 1, 0, 0]",NaN,NaN,NaN
15,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",NaN
16,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",NaN,NaN
17,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",NaN,NaN

In [8]:
non_iso_markets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 7 columns):
num_bidders    18 non-null int64
num_goods      18 non-null int64
bidder_0       18 non-null object
bidder_1       17 non-null object
bidder_2       13 non-null object
bidder_3       5 non-null object
bidder_4       1 non-null object
dtypes: int64(2), object(5)
memory usage: 1.1+ KB

In [9]:
len(non_iso_graphs), len(non_iso_graphs) * 2, len(non_iso_markets)

(11, 22, 18)